local monitor1 = "DP-1"
local monitor2 = "DP-3"

hl.monitor({ output = monitor1, mode = "2560x1440@360", position = "auto", scale = 1 })
hl.monitor({ output = monitor2, mode = "1920x1080@144", position = "auto", scale = 1 })

hl.workspace_rule({ workspace = "1", monitor = monitor1, default = true })
hl.workspace_rule({ workspace = "2", monitor = monitor1 })
hl.workspace_rule({ workspace = "3", monitor = monitor1 })
hl.workspace_rule({ workspace = "4", monitor = monitor1 })
hl.workspace_rule({ workspace = "5", monitor = monitor1 })

hl.workspace_rule({ workspace = "6", monitor = monitor2, default = true })
hl.workspace_rule({ workspace = "7", monitor = monitor2 })
hl.workspace_rule({ workspace = "8", monitor = monitor2 })
hl.workspace_rule({ workspace = "9", monitor = monitor2 })
hl.workspace_rule({ workspace = "10", monitor = monitor2 })
